<% provide :page_title, "Прибор #{@device.serial_id}" %>
<%= render 'shared/flash_alert' %>
<%= @test %>
<div class="row mx-0 my-3">
  <div class="col p-4 shadow rounded">
    <div class="row text-center">
      <h1><%=t('activerecord.models.device')%></h1>
      <hr class="divider">
    </div>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.device.inventory_id')%>: </strong>
        <%= @device.inventory_id %>
      </span>
    </p>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.device.tabel_id')%>: </strong>
        <%= @device.tabel_id %>
      </span>
    </p>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.device.serial_id')%>: </strong>
        <%= @device.serial_id %>
      </span>
    </p>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.device.year_of_production')%>: </strong>
        <%= @device.year_of_production %>
      </span>
    </p>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.device.year_of_commissioning')%>: </strong>
        <%= @device.year_of_commissioning %>
      </span>
    </p>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.device.date_of_inspection')%>: </strong>
        <%= @device.last_successful_inspection %>
      </span>
    </p>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.device.device_reg_group')%>: </strong>
        <%= @device.device_reg_group.name %>
      </span>
    </p>
    <span class="d-flex px-0  align-items-start" style="flex-wrap:wrap; align-items:center">
      <% if can? :manage, Device %>
        <div class="accordion me-2" id="accordionFilter">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFilter">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter">
                <%= t('.send_to_inspection')%>
              </button>
            </h2>
            <div id="collapseFilter" class="accordion-collapse collapse shadow" aria-labelledby="headingFilter" data-bs-parent="#accordionFilter">
              <%= simple_form_for @inspection, as: :inspection, url: device_create_inspection_path(@device), class: "rounded accordion-body" do |f| %>
                <div class="m-2 mb-0">
                  <%= f.input :type_target, :collection => Inspection::TYPE_TARGETS.sort.map {|k,v| [t("activerecord.attributes.inspection.#{v}"),k]}, include_blank: false, class:'form-select form-select' %>
                  <%= f.button :submit, t('.send_to_inspection'), class: "btn btn-primary w-100 mb-2" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="me-2">
          <% edit_path = if @is_admin
                          edit_admin_device_path(@device)
                        else
                          edit_device_path(@device)
                        end
          %>
          <%= link_to t('b_change'), edit_path, class: "btn btn-primary", data: { action: "click->modal#open", turbo_stream: "" }%>
        </div>
        <div>
          <% if can? :destroy, Device %>
            <% delete_path = if @is_admin
                            admin_device_path(@device)
                          else
                            device_path(@device)
                          end
            %>
            <%= button_to t('b_delete'), delete_path, method: :delete, class: "btn btn-danger"%>
          <% end %>
        </div>
      <% end %>
    </span>

  </div>
  <div class="col p-4 shadow ms-3 rounded">
    <div class="row text-center">
      <h1><%=t('activerecord.models.device_model')%></h1>
      <hr class="divider">
    </div>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.device_model.name')%>: </strong>
        <%= @device.device_model.name %>
      </span>
    </p>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.device_model.measurement_group')%>: </strong>
        <%= @device.device_model.measurement_group.name %>
      </span>
    </p>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.device_model.measurement_class')%>: </strong>
        <%= @device.device_model.measurement_class.name %>
      </span>
    </p>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.device_model.safety_class')%>: </strong>
        <%= @device.device_model.safety_class %>
      </span>
    </p>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.device_model.accuracy_class')%>: </strong>
        <%= @device.device_model.accuracy_class %>
      </span>
    </p>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.device_model.measurement_sensitivity')%>: </strong>
        <%= @device.device_model.measurement_sensitivity %>
      </span>
    </p>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.device_model.measurement_range')%>: </strong>
        <%= @device.device_model.measurement_min %> ÷ <%=
        @device.device_model.measurement_max %>, <%=
        @device.device_model.measuring_unit %>
      </span>
    </p>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.device_model.doc_url')%>: </strong>
        <%= link_to device_index_path do %>
          <i class="bi bi-file-earmark-arrow-down-fill"></i>
        <% end %>
      </span>
    </p>
  </div>
</div>
<div class="row">
  <div class="col p-4 shadow rounded">
    <div class="row text-center">
      <h1><%=t('activerecord.models.manufacturer')%></h1>
      <hr class="divider">
    </div>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.manufacturer.name')%>: </strong>
        <%= @device.device_model.manufacturer.name %>
      </span>
    </p>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.manufacturer.adress')%>: </strong>
        <%= @device.device_model.manufacturer.adress %>
      </span>
    </p>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.manufacturer.phone')%>: </strong>
        <%= @device.device_model.manufacturer.phone %>
      </span>
    </p>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.manufacturer.email')%>: </strong>
        <%= mail_to @device.device_model.manufacturer.email %>
      </span>
    </p>
    <p>
      <span>
        <strong><%=t('activerecord.attributes.manufacturer.site_url')%>: </strong>
        <%= link_to "#{@device.device_model.manufacturer.site_url}", @device.device_model.manufacturer.site_url, target: :blank %>
      </span>
    </p>
  </div>
  <% if @device_components %>
    <div class="col p-4 shadow ms-3 rounded">
      <div class="row text-center">
        <h1><%=t('activerecord.models.device_component')%></h1>
        <hr class="divider">
      </div>
      <%= render 'shared/show/supplementary_kit', device_components: @device_components %>
    </div>
  <% end %>
</div>
