<%= render 'shared/device_bread', selected: "manufacturer" %>
<%= render 'shared/flash_alert' %>
<div class="row">
  <div>
    <div class="accordion mb-3" id="accordionFilter">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFilter">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter">
            Фильтрация
          </button>
        </h2>
        <div id="collapseFilter" class="accordion-collapse collapse shadow" aria-labelledby="headingFilter" data-bs-parent="#accordionFilter">
          <%= search_form_for(@query, url:manufacturer_index_path, method: :get, class: "rounded accordion-body") do |f| %>
            <div class="row">
              <div class="col">
                <%= f.label :name, class: "mb-2" %>
                <%= f.search_field :name_cont, class:"form-control", placeholder:"Название" %>
              </div>
              <div class="col">
                <%= f.label :adress, class: "my-2" %>
                <%= f.search_field :adress_cont, class:"form-control", placeholder:"г. Димитровград, Победы 12" %>
              </div>
              <div class="col">
                <%= f.label :phone, class: "my-2" %>
                <%= f.search_field :phone_cont, class:"form-control", placeholder:"+7 (999) 123-01-02" %>
              </div>
              <div class="col">
                <%= f.label :email, class: "my-2" %>
                <%= f.search_field :email_cont, class:"form-control", placeholder:"niiar@example.ru" %>
              </div>
              <div class="col">
                <%= f.label :site_url, class: "my-2" %>
                <%= f.search_field :site_url_cont, class:"form-control", placeholder:"example.ru" %>
              </div>
            </div>
            <div class="row">
              <%= f.submit "Применить", class: 'btn btn-primary w-100 mt-4'%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= link_to new_manufacturer_path, class: "btn btn-primary my-3 w-100 shadow" do %>
      <i class="bi bi-plus-square"></i><span> Добавить</span>
    <% end %>
  </div>
  <div class="shadow rounded">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Название</th>
          <th scope="col" style="width: 30%">Адрес</th>
          <th scope="col">Телефон</th>
          <th scope="col">E-mail</th>
          <th scope="col">Сайт</th>
          <th scope="col" style="width: 10%">Действие</th>
        </tr>
      </thead>
      <tbody>
        <% @manufacturers.each do |manufacturer| %>
        <tr>
            <td><%= manufacturer.name %></td>
            <td><%= manufacturer.adress %></td>
            <td><%= manufacturer.phone %></td>
            <td><%= manufacturer.email %></td>
            <td><%= manufacturer.site_url %></td>
            <td>
              <div class="d-flex">
                <%= link_to edit_manufacturer_path(manufacturer.id), class: "btn" do %>
                  <i class="bi bi-pen"></i>
                <% end %>
                <%= button_to manufacturer_path(manufacturer.id), method: :delete, class: "btn" do %>
                  <i class="bi bi-trash"></i>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  </div>
<div class="row my-5">
  <div class="col-2">
  </div>
  <div class="col-10">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <%= paginate @manufacturers %>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
