<%= render 'shared/device_bread', selected: "measurement_class" %>
<%= render 'shared/flash_alert' %>
<div class="row">
  <div class="col-2">
    <div class="accordion mb-3" id="accordionFilter">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFilter">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter">
            Фильтрация
          </button>
        </h2>
        <div id="collapseFilter" class="accordion-collapse collapse shadow" aria-labelledby="headingFilter" data-bs-parent="#accordionFilter">
          <%= search_form_for(@query, url: measurement_class_index_path, method: :get, class: "rounded accordion-body") do |f| %>
            <%= f.label :name, class: "mb-2" %>
            <%= f.search_field :name_cont, class:"form-control", placeholder:"Название" %>
            <%= f.label :measurement_group_id, class:"mb-1" %>
                <%= f.collection_select(:measurement_group_id_eq, MeasurementGroup.all,
                :id, :name, {:include_blank => 'Не учитывать'}, {:class=>'form-select form-select'}) %>
            <%= f.label :arms_device_type, class: "my-2" %>
            <%= f.search_field :arms_device_type_eq, class:"form-control", placeholder:"1" %>
          <% end %>
        </div>
      </div>
    </div>
    <%= link_to new_measurement_class_path, class: "btn btn-primary my-3 w-100 shadow" do %>
      <i class="bi bi-plus-square"></i><span> Добавить</span>
    <% end %>
  </div>
  <div class="col-10 shadow rounded">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Тип</th>
          <th scope="col">Группа измерений</th>
          <th scope="col" style="width: 10%">Действие</th>
        </tr>
      </thead>
      <tbody>
        <% @measurement_classes.each do |measurement_class| %>
        <tr>
            <td><%= measurement_class.name %></td>
            <td><%= measurement_class.arms_device_type %></td>
            <td><%= measurement_class.measurement_group.name %></td>
            <td>
              <div class="d-flex">
                <%= link_to edit_measurement_class_path(measurement_class.id), class: "btn" do %>
                  <i class="bi bi-pen"></i>
                <% end %>
                <%= button_to measurement_class_path(measurement_class.id), method: :delete, class: "btn" do %>
                  <i class="bi bi-trash"></i>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  </div>
<div class="row my-5">
  <div class="col-2">
  </div>
  <div class="col-10">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <%= paginate @measurement_classes %>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
