<div class="container text-center w-50">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <%= image_tag "atom-logo.svg", class: "mb-4 mt-5", width: "72", height: "57" %>
  <h1 class="h3 mb-3 fw-normal">Форма входа</h1>

  <%= simple_form_for :user, url: new_user_path, data: { turbo: false }, class: "form-floating" do |f| %>
    <%= f.input :first_name, label: 'Имя', placeholder: "Вильгельм" %>
    <%= f.input :second_name, label: 'Отчество', placeholder: "Конрад" %>
    <%= f.input :last_name, label: 'Фамилия', placeholder: "Рентген" %>
    <%= f.input :email, label: 'Электронная почта', placeholder: "example@niiar.ru" %>
    <%= f.input :password, label: 'Пароль', placeholder: "8 или больше символов" %>
     <%= f.input :password_confirmation, label: 'Пароль', placeholder: "8 или больше символов" %>
    <%= f.button :submit, 'Зарегистрироваться', class: "w-100 btn btn-lg btn-primary" %>
  <% end %>
</div>
