<div class="col"></div>
<div class='row text-center shadow rounded mb-4'>
  <% selected = local_assigns[:selected] %>
  
  <% if selected == "device" %>
    <%= link_to 'Приборы', device_index_path, class: "col btn btn-primary active" %>
  <% else %>
    <%= link_to 'Приборы', device_index_path, class: "col btn" %>
  <% end %>

  <% if selected == "device_model" %>
    <%= link_to 'Модели', device_model_index_path, class: "col btn btn-primary active" %>
  <% else %>
    <%= link_to 'Модели', device_model_index_path, class: "col btn" %>
  <% end %>

  <% if selected == "device_reg_group" %>
    <%= link_to 'Рег.группы', device_reg_group_index_path, class: "col btn btn-primary active" %>
  <% else %>
    <%= link_to 'Рег.группы', device_reg_group_index_path, class: "col btn" %>
  <% end %>

  <% if selected == "manufacturer" %>
    <%= link_to 'Производители', manufacturer_index_path, class: "col btn btn-primary active" %>
  <% else %>
    <%= link_to 'Производители', manufacturer_index_path, class: "col btn" %>
  <% end %>

  <% if selected == "measurement_class" %>
    <%= link_to 'Классы измерений', measurement_class_index_path, class: "col btn btn-primary active" %>
  <% else %>
    <%= link_to 'Классы измерений', measurement_class_index_path, class: "col btn" %>
  <% end %>

  <% if selected == "measurement_group" %>
    <%= link_to 'Группы измерений', measurement_group_index_path, class: "col btn btn-primary active" %>
  <% else %>
    <%= link_to 'Группы измерений', measurement_group_index_path, class: "col btn" %>
  <% end %>
</div>
<div class="col"></div>
