<div class="col"></div>
<div class='row text-center shadow rounded mb-4'>
  <%= link_to 'Приборы', device_index_path, class: "col btn" %>
  <%= link_to 'Модели', device_model_index_path, class: "col btn" %>
  <%= link_to 'Рег.группы', device_reg_group_index_path, class: "col btn" %>
  <%= link_to 'Производители', manufacturer_index_path, class: "col btn" %>
  <%= link_to 'Классы измерений', measurement_class_index_path, class: "col btn" %>
  <%= link_to 'Группы измерений', measurement_group_index_path, class: "col btn" %>
</div>
<div class="col"></div>
