<%= simple_form_for @manufacturer, as: :manufacturer, url: path, data: { turbo: false }, class: "form-group row" do |f| %>
  <div class="row">
    <div class="col">
      <%= f.input :name, placeholder: 'Название компании', input_html: {:tabindex => 1}%>
      <%= f.input :adress, placeholder: 'г. Димитровград, Победы 12', input_html: {:tabindex => 2} %>
      <%= f.input :phone, placeholder: '+7 (999) 123-01-02', input_html: {:tabindex => 3} %>
      <%= f.input :email, placeholder: 'niiar@example.ru', input_html: {:tabindex => 4} %>
      <%= f.input :site_url, placeholder: 'example.ru', input_html: {:tabindex => 5} %>
    </div>
  </div>

  <div>
    <%= f.button :submit, "Сохранить", class: "btn btn-primary" %>
    <%= f.button :submit, "Назад", formaction: manufacturer_index_path, formmethod: "get" %>
  </div>
<% end %>
