<%= simple_form_for @measurement_class, as: :measurement_class, url: path, data: { turbo: false }, class: "form-group row" do |f| %>
  <div class="row">
    <div class="col">
      <%= f.input :name, placeholder: 'Название класса измерений', input_html: {:tabindex => 1}%>
      <%= f.association :measurement_group, input_html: {:tabindex => 2} %>
      <%= f.input :arms_device_type, placeholder: 'Тип прибора по ARMStrong', input_html: {:tabindex => 3}%>
    </div>
  </div>

  <div>
    <%= f.button :submit, "Сохранить", class: "btn btn-primary" %>
    <%= f.button :submit, "Назад", formaction: measurement_class_index_path, formmethod: "get" %>
  </div>
<% end %>
