<%= simple_form_for @supplementary_kit, as: :supplementary_kit, url: path, data: { turbo: false }, class: "form-group row" do |f| %>
  <div class="row">
    <div class="col">
      <%= f.input :name, placeholder: 'Название', input_html: {:tabindex => 1}%>
      <%= f.input :serial_id, placeholder: '1100-E250-FF', input_html: {:tabindex => 2}%>
      <%= f.input :description, placeholder: 'Набор для...', input_html: {:tabindex => 3}%>
    </div>
  </div>
  <%= f.button :submit, "Сохранить", class: "btn btn-primary w-100" %>
<% end %>
