<% provide :page_title, "Точки контроля" %>
<%= render 'shared/admin/navbar/admin', selected: "asrc" %>
<%= render 'shared/flash_alert' %>
<div class="row mx-0">
  <div class="col-2 ps-0 my-4">
    <%= render 'shared/admin/navbar/asrc_navbar', selected: "channel" %>
    <div class="accordion mb-3" id="accordionFilter">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFilter">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter">
            <%= t('filtration')%>
          </button>
        </h2>
        <div id="collapseFilter" class="accordion-collapse collapse shadow" aria-labelledby="headingFilter" data-bs-parent="#accordionFilter">
          <%= search_form_for(@query, url: admin_channel_index_path, method: :get, class: "rounded accordion-body") do |f| %>
            <div id="for-clear">
              <%= f.label :id, class: "mb-1" %>
              <%= f.search_field :id_eq, class:"form-control mb-2", placeholder:"ID" %>

              <%= f.label :channel_id, class: "mb-1" %>
              <%= f.search_field :channel_id_eq, class:"form-control mb-2", placeholder:"25" %>

              <%= f.label :server_id, class: "mb-1" %>
              <%= f.collection_select(:server_id_eq, Server.all,
              :id, :name, {:include_blank => t('combobox_blank')}, {:class=>'form-select mb-2'}) %>

              <%= f.label :control_point_id, class: "mb-1" %>
              <%= f.collection_select(:control_point_id_eq, ControlPoint.all,
              :id, :name, {:include_blank => t('combobox_blank')}, {:class=>'form-select mb-2'}) %>

              <%= f.label :service_id, class: "mb-1" %>
              <%= f.collection_select(:service_id_eq, Service.all,
              :id, :name, {:include_blank => t('combobox_blank')}, {:class=>'form-select mb-2'}) %>
            </div>
            <%= f.submit t('b_accept'), class: 'btn btn-primary w-100 my-2'%>
            <div id="b_clear" onclick="formClear()" class="btn btn-secondary w-100">
              <%= t("b_clear")%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <%= render 'shared/modal_button_add', path: new_admin_channel_path, classes: "btn btn-primary w-100", text: t("b_add") %>
  </div>
  <div class="col-10 my-4 p-0">
    <div class="shadow rounded px-2">
      <div class="table-responsive">
        <table class="table table-hover">
          <%= render 'shared/ui/table/caption/all_items',
                count: Channel.count %>
          <thead class="text-nowrap">
            <tr>
              <th scope="col"><%= t('activerecord.attributes.channel.id') %></th>
              <th scope="col"><%= t('activerecord.attributes.channel.channel_id')%></th>
              <th scope="col"><%= t('activerecord.attributes.channel.server')%></th>
              <th scope="col"><%= t('activerecord.attributes.channel.control_point.name')%></th>
              <th scope="col"><%= t('activerecord.attributes.channel.location_description')%></th>
              <th scope="col"><%= t('activerecord.attributes.channel.self_background')%></th>
              <th scope="col"><%= t('activerecord.attributes.channel.pre_emergency_limit')%></th>
              <th scope="col"><%= t('activerecord.attributes.channel.emergency_limit')%></th>
              <th scope="col"><%= t('activerecord.attributes.channel.consumption')%></th>
              <th scope="col"><%= t('activerecord.attributes.channel.conversion_coefficient')%></th>
              <th scope="col"><%= t('activerecord.attributes.channel.service')%></th>

              <%= render 'shared/ui/table/header/action'%>
            </tr>
          </thead>
          <tbody class="text-nowrap">
            <% @channels.each do |channel| %>
            <tr class="align-middle">
              <td><%= channel.id %></td>
              <td><%= channel.channel_id %></td>
              <td><%= channel.server.name %></td>
              <% if channel.control_point.nil? %>
                <td><%= "——" %></td>
              <% else %>
                <td><%= channel.control_point.name %>
              <% end %>
              <td><%= channel.location_description %></td>
              <td><%= channel.self_background %></td>
              <td><%= channel.pre_emergency_limit %></td>
              <td><%= channel.emergency_limit %></td>
              <td><%= channel.consumption %></td>
              <td><%= channel.conversion_coefficient %></td>
              <td><%= channel.service.name %></td>

              <%= render 'shared/ui/table/cell/action',
                edit_path: edit_admin_channel_path(channel.id),
                destroy_path: admin_channel_path(channel.id) %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  </div>
<div class="row my-5">
  <div class="col-2">
  </div>
  <div class="col-10">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <%= pagination @pagy %>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
<script>
  function formClear(){
    let form = document.getElementById('for-clear')
    let inputs = Array.from(form.getElementsByTagName("input"))
    let selects = Array.from(form.getElementsByTagName("select"))
    inputs.forEach((input) =>{
      input.value = null
    })
    selects.forEach((select) =>{
      select.value = ""
    })
  }
</script>
