<p>
  <%= f.input :inventory_id, label: 'Инвентарный №', placeholder: 'Инвентарный номер устройства'%>
  <%= f.input :tabel_id, label: 'Табельный №', placeholder: 'Номер присвоенный в ЦСМИТ' %>
  <%= f.input :serial_id, label: 'Серийный №', placeholder: 'S/N присвоенный производителем' %>
  <%= f.association :device_reg_group, label: 'Регистрационная группа', placeholder: 'Например: "ГАН", "Рос. Тех. Надзор" и т.д.'%>
  <%= f.input :year_of_production, label: 'Год выпуска', placeholder: 'Год выпуска производителем'%>
  <%= f.input :year_of_commissioning, label: 'Год ввода', placeholder: 'Год ввода в эксплуатацию' %>
  <%= f.association :device_model, label: 'Модель', placeholder: 'Модель устройства'%>
</p>

<p>
  <%= f.button :submit, "Сохранить", class: "btn btn-primary" %>
  <%= f.button :submit, "Назад", formaction: device_index_path, formmethod: "get" %>
</p>
