<div class="row my-3">
  <div class="col p-4 shadow rounded">
    <div class="row text-center">
      <h1>Прибор</h1>
      <hr class="divider">
    </div>
    <p>
      <span>
        <strong>Инв. №: </strong>
        <%= @device.inventory_id %>
      </span>
    </p>
    <p>
      <span>
        <strong>Таб. №: </strong>
        <%= @device.tabel_id %>
      </span>
    </p>
    <p>
      <span>
        <strong>S/N: </strong>
        <%= @device.serial_id %>
      </span>
    </p>
    <p>
      <span>
        <strong>Дата выпуска: </strong>
        <%= @device.year_of_production %>
      </span>
    </p>
    <p>
      <span>
        <strong>Дата ввода в эксплуатацию: </strong>
        <%= @device.year_of_commissioning %>
      </span>
    </p>
    <p>
      <span>
        <strong>Реестр. группа: </strong>
        <%= @device.device_reg_group.name %>
      </span>
    </p>
    <div class="row px-0" style="max-width:650px; min-width:600px">
      <div class="col-2">
        <%= link_to "Изменить", edit_device_path(@device), class: "btn btn-primary"%>
      </div>
      <div class="col-2">
        <%= button_to "Удалить", device_path(@device), method: :delete, class: "btn btn-danger"%>
      </div>
    </div>
  </div>
  <div class="col p-4 shadow ms-3 rounded">
    <div class="row text-center">
      <h1>Модель</h1>
      <hr class="divider">
    </div>
    <p>
      <span>
        <strong>Название модели: </strong>
        <%= @device.device_model.name %>
      </span>
    </p>
    <p>
      <span>
        <strong>Группа прибора: </strong>
        <%= @device.device_model.measurement_group.name %>
      </span>
    </p>
    <p>
      <span>
        <strong>Класс прибора: </strong>
        <%= @device.device_model.measurement_class.name %>
      </span>
    </p>
    <p>
      <span>
        <strong>Класс безопасности: </strong>
        <%= @device.device_model.safety_class %>
      </span>
    </p>
    <p>
      <span>
        <strong>Класс точности: </strong>
        <%= @device.device_model.accuracy_class %>
      </span>
    </p>
    <p>
      <span>
        <strong>Чувствительность: </strong>
        <%= @device.device_model.measurement_sensitivity %>
      </span>
    </p>
    <p>
      <span>
        <strong>Диапазон измерений: </strong>
        <%= @device.device_model.measurement_min %> ÷ <%=
        @device.device_model.measurement_max %>, <%=
        @device.device_model.measuring_unit %>
      </span>
    </p>
    <p>
      <span>
        <strong>Документациця: </strong>
        <%= link_to device_index_path do %>
          <i class="bi bi-file-earmark-arrow-down-fill"></i>
        <% end %>
      </span>
    </p>
  </div>
</div>
<div class="row">
  <div class="col p-4 shadow rounded">
    <div class="row text-center">
      <h1>Производитель</h1>
      <hr class="divider">
    </div>
    <p>
      <span>
        <strong>Производитель: </strong>
        <%= @device.device_model.manufacturer.name %>
      </span>
    </p>
    <p>
      <span>
        <strong>Адрес: </strong>
        <%= @device.device_model.manufacturer.adress %>
      </span>
    </p>
    <p>
      <span>
        <strong>Телефон: </strong>
        <%= @device.device_model.manufacturer.phone %>
      </span>
    </p>
    <p>
      <span>
        <strong>E-mail: </strong>
        <%= mail_to @device.device_model.manufacturer.email %>
      </span>
    </p>
    <p>
      <span>
        <strong>Сайт: </strong>
        <%= link_to "#{@device.device_model.manufacturer.site_url}", @device.device_model.manufacturer.site_url, target: :blank %>
      </span>
    </p>
  </div>
  <% if @device_components %>
    <div class="col p-4 shadow ms-3 rounded">
      <div class="row text-center">
        <h1>Компоненты в наборе</h1>
        <hr class="divider">
      </div>
      <%= render 'shared/show/supplementary_kit', device_components: @device_components %>
    </div>
  <% end %>
</div>

