<%= simple_form_for device_component, as: :device_component, url: path, class: "form-group row" do |f| %>
  <div class="row">
    <div class="col">
      <%= f.input :serial_id, placeholder: '0-E250-FF', input_html: {:tabindex => 1}%>
      <%= f.input :name, placeholder: 'Название', input_html: {:tabindex => 2}%>
      <%= f.input :measurement_min, placeholder: '1.0', input_html: {:tabindex => 3}%>
      <%= f.input :measurement_max, placeholder: '2.0', input_html: {:tabindex => 4}%>
      <%= f.input :measuring_unit, placeholder: 'мЗв/ч', input_html: {:tabindex => 5}%>
      <%= f.input :description, placeholder: 'Компонент для...', input_html: {:tabindex => 6}%>
      <div class="row">
        <div class="col">
          <%= f.association :supplementary_kit, label:false, input_html: {:tabindex => 7}, include_blank: "Не выбрано" %>
        </div>
        <div class="col-2 ps-0">
          <%= render 'shared/modal_button_add', path: new_admin_supplementary_kit_path, classes: "btn btn-ligth", text: nil %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/form/actions', f:f %>
<% end %>
