<%= simple_form_for measurement_class, as: :measurement_class, url: path, 
  class: "form-group row" do |f| %>
  <div class="row">
    <div class="col">
      <%= f.input :name, placeholder: 'Название класса измерений', input_html: {:tabindex => 1}%>
      <%= f.association :measurement_group, input_html: {:tabindex => 2}, include_blank: false %>
      <%= render 'shared/modal_button_add', path: new_admin_measurement_group_path%>
      <%= f.input :arms_device_type, placeholder: 'Тип прибора по ARMStrong', input_html: {:tabindex => 3}%>
    </div>
  </div>

  <div>
    <%= f.button :submit, "Сохранить", class: "btn btn-primary" %>
    <%= render 'shared/modal_button_close' %>
  </div>
<% end %>
