<%= simple_form_for room, as: :room, url: path,
  class: "form-group row" do |f| %>
  <div class="row">
      <%= f.input :name, placeholder: t('.placeholders.name'), input_html: { :tabindex => 1 }%>
      <%= f.input :level, placeholder: t('.placeholders.level'), input_html: { :tabindex => 2} %>
      <%= f.input :description, placeholder: t('.placeholders.description'), input_html: { :tabindex => 3 } %>
      <%= f.association :building, input_html: { :tabindex => 4 } %>
  </div>

  <%= render 'shared/form/actions', f:f %>
<% end %>
