<%= simple_form_for server, as: :server, url: path,
  class: "form-group row" do |f| %>
  <div class="row">
      <%= f.input :name, placeholder: 'Название службы', input_html: {:tabindex => 1}%>
      <%= f.input :ip_address, input_html: { :tabindex => 2}, include_blank: false %>
      <%= f.input :inventory_id, input_html: { :tabindex => 3 }, include_blank: false %>
      <%= f.association :service, input_html: { :tabindex => 4}, include_blank: false %>
      <%= f.association :room, input_html: { :tabindex => 5}, include_blank: false %>
  </div>

  <%= render 'shared/form/actions', f:f %>
<% end %>
