<h1><%= @post.title %></h1>
<hr class="deliver">
<p>
  <span>
    <strong><%= t('.published') %>: </strong>
    <%= @post.formatted_date(@post.created_at) %>
  </span>
  <span>
    <strong><%= t('.updated') %>:</strong>
    <%= @post.formatted_date(@post.updated_at) %>
  </span>
</p>
<p>
  <span>
    <strong><%= t('.author') %>: </strong>
    <%= "#{@post.user.first_name} #{@post.user.last_name}" %></p>
  </span>
<p><%= @post.body %></p>
<% if can? :manage, Post %>
  <div class="row px-0" style="max-width:650px; min-width:600px">
    <div class="col-2">
      <%= link_to t('b_change'), edit_post_path(@post), class: "btn btn-primary"%>
    </div>
    <div class="col-2">
      <%= button_to t('b_delete'), post_path(@post), method: :delete, class: "btn btn-danger"%>
    </div>
  <% end %>
</div>
