<h1><%= @post.title %></h1>
<hr class="deliver">
<p>
  <span>
    <strong>Опубликован: </strong>
    <%= @post.formatted_date(@post.created_at) %>
  </span>
  <span>
    <strong>Обновлен: </strong>
    <%= @post.formatted_date(@post.updated_at) %>
  </span>
</p>
<p>
  <span>
    <strong>Автор: </strong>
    <%= "#{@post.user.first_name} #{@post.user.last_name}" %></p>
  </span>
<p><%= @post.body %></p>
<div class="row px-0" style="max-width:650px; min-width:600px">
  <div class="col-2">
    <%= link_to "Изменить", edit_post_path(@post), class: "btn btn-primary"%>
  </div>
  <div class="col-2">
    <%= button_to "Удалить", post_path(@post), method: :delete, class: "btn btn-danger"%>
  </div>
</div>
