<% provide :page_title, "Компоненты" %>
<%= render 'shared/admin/navbar/admin', selected: "device" %>
<%= render 'shared/admin/navbar/device_bread', selected: "device_component" %>
<%= render 'shared/flash_alert' %>
<div class="row">
  <div>
    <div class="accordion mb-3" id="accordionFilter">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFilter">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter">
            Фильтрация
          </button>
        </h2>
        <div id="collapseFilter" class="accordion-collapse collapse shadow" aria-labelledby="headingFilter" data-bs-parent="#accordionFilter">
          <%= search_form_for(@query, url:admin_device_component_index_path, method: :get, class: "rounded accordion-body") do |f| %>
            <div class="row">
              <div class="col">
                <%= f.label :serial_id %>
                <%= f.search_field :serial_id_cont, class:"form-control", placeholder:"0-123-N" %>
              </div>
              <div class="col">
                <%= f.label :name %>
                <%= f.search_field :name_cont, class:"form-control", placeholder:"БДЗБ" %>
              </div>
              <div class="col">
                <%= f.label :measurement_min %>
                <%= f.search_field :measurement_min_eq, class:"form-control", placeholder:"1.0" %>
              </div>
              <div class="col">
                <%= f.label :measurement_max %>
                <%= f.search_field :measurement_max_eq, class:"form-control", placeholder:"2.0" %>
              </div>
              <div class="col">
                <%= f.label :measuring_unit %>
                <%= f.search_field :measuring_unit_cont, class:"form-control", placeholder:"мЗв/ч" %>
              </div>
            </div>
            <div class="row">
              <%= f.submit "Применить", class: 'btn btn-primary w-100 mt-4'%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= render 'shared/modal_button_add', path: new_admin_device_component_path %>
  </div>
</div>
<div class="row mx-0">
  <div class="shadow rounded">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">S/N</th>
          <th scope="col">Название</th>
          <th scope="col">Набор</th>
          <th scope="col">Мин.</th>
          <th scope="col">Макс.</th>
          <th scope="col">Ед. изм</th>
          <th scope="col">Описание</th>
          <th scope="col" style="width: 10%">Действие</th>
        </tr>
      </thead>
      <tbody>
        <% @device_components.each do |device_component| %>
        <tr>
            <td><%= device_component.serial_id %></td>
            <td><%= device_component.name %></td>
            <% if device_component.supplementary_kit.nil? %>
              <td></td>
            <% else %>
              <td><%= device_component.supplementary_kit.name %></td>
            <% end %>
            <td><%= device_component.measurement_min %></td>
            <td><%= device_component.measurement_max %></td>
            <td><%= device_component.measuring_unit %></td>
            <td><%= device_component.description %></td>
            <td>
             <div class="d-flex w-auto">
                <%= link_to edit_admin_device_component_path(device_component.id), class: "btn", data: { action: "click->modal#open", turbo_stream: "" } do %>
                  <i class="bi bi-pen"></i>
                <% end %>
                <%= button_to admin_device_component_path(device_component.id), method: :delete, form: { data: { turbo_confirm: t('delete_confirm') } }, class: "btn" do %>
                  <i class="bi bi-trash"></i>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  </div>
<div class="row my-5">
  <div class="col-2">
  </div>
  <div class="col-10">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <%= pagination @pagy %>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
