<% provide :page_title, "Компонент #{@device_component.serial_id}" %>
<%= render 'shared/flash_alert' %>
<div class="row my-3">
  <div class="col p-4 shadow rounded">
    <div class="row text-center">
      <h1>Компонент</h1>
      <hr class="divider">
    </div>
    <p>
      <span>
        <strong>S/N компонента: </strong>
        <%= @device_component.serial_id %>
      </span>
    </p>
    <p>
      <span>
        <strong>Название компонента: </strong>
        <%= @device_component.name %>
      </span>
    </p>
    <p>
      <span>
        <strong>Диапазон измерений: </strong>
        <%= @device_component.measurement_min %> ÷ <%=
        @device_component.measurement_max %>, <%=
        @device_component.measuring_unit %>
      </span>
    </p>
    <p>
      <span>
        <strong>Описание: </strong>
        <%= @device_component.description %>
      </span>
    </p>
    <div class="row px-0" style="max-width:650px; min-width:600px">
      <div class="col-2">
        <%= link_to "Изменить", edit_device_component_path(@device_component), class: "btn btn-primary"%>
      </div>
      <div class="col-2">
        <%= button_to "Удалить", device_component_path(@device_component), method: :delete, class: "btn btn-danger"%>
      </div>
    </div>
  </div>
  <% unless @device_component.supplementary_kit.nil? %>
    <div class="col p-4 shadow rounded ms-3">
      <div class="row text-center">
        <h1>Набор</h1>
        <hr class="divider">
      </div>
      <p>
        <span>
          <strong>Название набора: </strong>
          <%= @device_component.supplementary_kit.name %>
        </span>
      </p>
      <% if @device_components.length > 0 %>
        <p>
          <span>
            <strong>Компоненты в наборе: </strong>
            <%= render 'shared/show/supplementary_kit', device_components: @device_components %>
          </span>
        </p>
      <% else %>
        <p>Набор пуст.</p>
      <% end %>
    </div>
  <% end %>
</div>
