<%= simple_form_for device, as: :device, url: path, class: "form-group row" do |f| %>
  <div class="row">
    <div class="col">
      <%= f.input :tabel_id, placeholder: 'Номер присвоенный в ЦСМИТ', input_html: {:tabindex => 1}%>
      <%= f.input :inventory_id, placeholder: 'Инвентарный номер устройства', input_html: {:tabindex => 3} %>
      <%= f.input :year_of_production, placeholder: 'Год выпуска производителем', input_html: {:tabindex => 5} %>
      <div class="col">
        <div class="row">
          <%= f.label :device_model, class: "mb-2"%>
        </div>
        <div class="row">
          <div class="col">
            <%= f.association :device_model, label:false, input_html: {tabindex: 7}, include_blank: false %>
          </div>
          <div class="col-3 text-end">
            <%= render 'shared/modal_button_add', path: new_admin_device_model_path, classes: "btn btn-ligth", text: nil %>
          </div>
        </div>
      </div>
      <%= f.association :room, input_html: {:tabindex => 9}, include_blank: t(".room_blank")%>
    </div>
    <div class="col">
      <%= f.input :serial_id, placeholder: 'S/N присвоенный производителем', input_html: {:tabindex => 2} %>
      <div class="col">
        <div class="row">
          <%= f.label :device_reg_group, class: "mb-2"%>
        </div>
        <div class="row">
          <div class="col-9 pe-0">
            <%= f.association :device_reg_group, label: false, input_html: {:tabindex => 4}, include_blank: false %>
          </div>
          <div class="col-3 text-end">
            <%= render 'shared/modal_button_add', path: new_admin_device_reg_group_path, classes: "btn btn-ligth", text: nil %>
          </div>
        </div>
      </div>
      <%= f.input :year_of_commissioning, placeholder: 'Год ввода в эксплуатацию', input_html: {:tabindex => 6} %>
      <div class="col">
        <div class="row">
          <%= f.label :supplementary_kit, class: "mb-2"%>
        </div>
        <div class="row">
          <div class="col-9 pe-0">
            <%= f.association :supplementary_kit, label:false, :include_blank => 'Не учитывать', input_html: {:tabindex => 8} %>
          </div>
          <div class="col-3 text-end">
            <%= render 'shared/modal_button_add', path: new_admin_supplementary_kit_path, classes: "btn btn-ligth", text: nil %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'shared/form/actions', f:f %>
<% end %>
