<%= simple_form_for device, as: :device, url: path, class: "form-group row" do |f| %>
  <div class="row">
    <div class="col">
      <%= f.input :tabel_id, placeholder: 'Номер присвоенный в ЦСМИТ', input_html: {:tabindex => 1}%>
      <%= f.input :inventory_id, placeholder: 'Инвентарный номер устройства', input_html: {:tabindex => 3} %>
      <%= f.input :year_of_production, placeholder: 'Год выпуска производителем', input_html: {:tabindex => 5} %>
      <%= f.association :device_model, input_html: {:tabindex => 7}, include_blank: false %>
      <%= render 'shared/modal_button_add', path: new_admin_device_model_path %>
      <%= f.association :room, input_html: {:tabindex => 9}, include_blank: t(".room_blank")%>
    </div>
    <div class="col">
      <%= f.input :serial_id, placeholder: 'S/N присвоенный производителем', input_html: {:tabindex => 2} %>
      <%= f.association :device_reg_group, input_html: {:tabindex => 4}, include_blank: false %>
      <%= render 'shared/modal_button_add', path: new_admin_device_reg_group_path %>
      <%= f.input :year_of_commissioning, placeholder: 'Год ввода в эксплуатацию', input_html: {:tabindex => 6} %>
      <%= f.association :supplementary_kit, :include_blank => 'Не учитывать', input_html: {:tabindex => 8} %>
      <%= render 'shared/modal_button_add', path: new_admin_supplementary_kit_path %>
    </div>
  </div>

  <div>
    <%= f.button :submit, "Сохранить", class: "btn btn-primary" %>
    <%= render 'shared/modal_button_close' %>
  </div>
<% end %>
