<%= render 'shared/flash_alert'%>
<%= simple_form_for @inspection, as: :inspection, url: path, data: { turbo: false }, class: "form-group row" do |f| %>
  <div class="row">
    <div class="col">
      <%= f.association :device, label_method: :tabel_id, include_blank: false %>
      <% if edit_params %> 
        <%= f.input :conclusion_date %>
        <%= f.input :conclusion %>
      <% end %>
      <%= f.input :description %> 
      <%= f.association :performer, label_method: :tabel_id, collection: User.where(role: [User::ROLES[:inspector], User::ROLES[:engineer]]), include_blank: false %>
   </div>
  </div>
  <div>
    <%= f.button :submit, t("b_save"), class: "btn btn-primary" %>
    <%= f.button :submit, t("b_back"), formaction: inspection_index_path, formmethod: "get" %>
  </div>
<% end %>
