<div class="container text-center w-50 mb-5">
  <%= simple_form_for @inspection, as: :inspection, url: path, class: "form-group row" do |f| %>
    <div class="row">
      <div class="col">
        <% if @inspection.state == Inspection::STATES[:task_created]%>
          <%= f.association :device, :label_method => lambda { |device| "Таб. № - #{device.tabel_id}, Сер. № - #{device.serial_id}" }, value_method: :id, include_blank: false %>
        <% end %>
        <% if edit_params && (@inspection.state == Inspection::STATES[:verification_successful] || @inspection.state == Inspection::STATES[:closed])%>
          <%= f.input :conclusion, as: :text, input_html: { rows: 5 } %>
        <% end %>

        <% if @inspection.state == Inspection::STATES[:task_created] %>
          <%= f.input :type_target, :collection => Inspection::TYPE_TARGETS.sort.map {|k,v| [t("activerecord.attributes.inspection.#{v}"),k]}, include_blank: false, class:'form-select form-select' %>
        <% end %>

      </div>
    </div>
    <div class="row">
      <% if current_user.admin? %>
        <div class="col">
          <%= f.input :conclusion_date, as: :datetime, html5: true, include_blank: true %>
        </div>
        <div class="col">
          <%= f.association :performer, label_method: :tabel_id, collection: User.where(role: [User::ROLES[:inspector], User::ROLES[:engineer], User::ROLES[:admin]]), include_blank: "Не выбран" %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col">
        <%= f.button :submit, t("b_save"), class: "btn btn-primary w-100" %>
      </div>
      <div class="col">
        <%= f.button :submit, t("b_back"), class: "btn btn-light w-100", formaction: new_tasks_inspection_index_path, formmethod: "get" %>
      </div>
    </div>
  <% end %>
</div>
