<div class="row">
  <div class="col-2">
    <div class="accordion mb-3" id="accordionFilter">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFilter">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter">
            Фильтрация
          </button>
        </h2>
        <div id="collapseFilter" class="accordion-collapse collapse shadow" aria-labelledby="headingFilter" data-bs-parent="#accordionFilter">
          <%= search_form_for(@query, url: inspection_index_path, merhod: :get, class: "rounded accordion-body") do |f| %>
            <%= f.label :device, class: "mb-2" %>
            <%= f.search_field :device_id_eq, class: 'form-control', placeholder: 'Прибор' %>
            <%= f.label :performer, class: "my-2" %>
            <%= f.search_field :performer_id_eq, class: 'form-control', placeholder: 'Дудкин' %>
            <%= f.label :state, class: "my-2" %>
            <%= f.search_field :state_cont, class: 'form-control', placeholder: 'Активная' %>
            <%= f.label :conclusion, class: "my-2" %>
            <%= f.search_field :conclusion_cont, class: 'form-control', placeholder: 'Прибор инспекцию прошел...' %>
            <%= f.label :description, class: "my-2" %>
            <%= f.search_field :description_cont, class: 'form-control', placeholder: 'Инспекция...' %>
            <%= f.label :creator, class: "my-2" %>
            <%= f.search_field :creator_id_eq, class: 'form-control mb-2', placeholder: 'Пупкин' %>
            <%= f.submit "Применить", class: 'btn btn-primary w-100'%>
          <% end %>
        </div>
      </div>
    </div>
    <%= link_to new_inspection_path, class: "btn btn-primary my-3 w-100 shadow" do %>
      <i class="bi bi-plus-square"></i><span> Добавить</span>
    <% end %>
  </div>
  <div class="col-10 shadow rounded">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Прибор</th>
          <th scope="col">Выполняющий</th>
          <th scope="col">Состояние</th>
          <th scope="col">Заключение</th>
          <th scope="col">Дата заключения</th>
          <th scope="col">Описание</th>
          <th scope="col">Создатель заявки</th>
        </tr>
      </thead>
      <tbody>
        <% @inspections.each do |inspection| %>
          <tr onclick="document.location = `<%=inspection_path(inspection)%>`" style="cursor:pointer">
            <td><%= inspection.device.serial_id %></td>
            <td><%= inspection.performer.last_name + " " + inspection.performer.first_name %></td>
            <td><%= inspection.state %></td>
            <td><%= inspection.conclusion %></td>
            <td><%= inspection.conclusion_date %></td>
            <td><%= inspection.description %></td>
            <td><%= inspection.creator.last_name + " " + inspection.creator.first_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row my-5">
  <div class="col-2">
  </div>
  <div class="col-10">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <%= pagination @pagy %>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
