<% provide :page_title, "Инспекция #{@inspection.id}" %>
<%= render 'shared/flash_alert' %>
<input value=<%= @previous_action %> hidden="hidden">
<div class="row mx-0 my-3">
  <div class="col p-4 shadow rounded">
    <div class="row text-center">
      <h1><%= t('activerecord.models.inspection')%></h1>
      <hr class="divider">
    </div>
    <p>
      <span>
        <strong><%= t('activerecord.attributes.inspection.type_target')%>: </strong>
        <%= t("activerecord.attributes.inspection.#{@inspection.type_target}") %>
      </span>
    </p>
    <p>
      <span>
        <strong><%= t('activerecord.attributes.inspection.state')%>: </strong>
        <%= t("activerecord.attributes.inspection.#{@inspection.state}") %>
      </span>
    </p>
    <p>
      <span>
        <strong><%= t('activerecord.attributes.inspection.creator_id')%>: </strong>
        <%= @creator.last_name + " " + @creator.first_name %>
      </span>
    </p>
    <% unless @inspection.state == Inspection::STATES[:task_created] %>
      <p>
        <span>
          <strong><%= t('activerecord.attributes.inspection.performer_id')%>: </strong>
            <%= @performer.last_name + " " + @performer.first_name %>
        </span>
      </p>
    <% end %>
    <% if @inspection.state == Inspection::STATES[:verification_successful] || @inspection.state == Inspection::STATES[:closed] %>
      <p>
        <span>
          <strong><%= t('activerecord.attributes.inspection.conclusion')%>: </strong>
          <%= @inspection.conclusion %>
        </span>
      </p>
      <p>
        <span>
          <strong><%= t('activerecord.attributes.inspection.conclusion_date')%>: </strong>
            <%= formatted_date(@inspection.conclusion_date, :default) %>
        </span>
      </p>
    <% end %>
    <div class="d-flex w-50 px-0" style="flex-wrap:wrap">
      <% if can? :edit, @inspection %>
        <div class="me-2">
          <%= link_to t("b_change"), edit_inspection_path(@inspection), class: "btn btn-primary"%>
        </div>
        <% if can? :destroy, @inspection %>
          <div>
            <%= button_to t("b_delete"), inspection_path(id: @inspection.id, previous_action: @previous_action), method: :delete, class: "btn btn-danger"%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col p-4 ms-2 shadow rounded">
    <div class="row text-center">
      <h1><%= t('activerecord.models.device')%></h1>
      <hr class="divider">
    </div>
    <p>
      <span>
        <strong><%= t('activerecord.attributes.device.inventory_id')%>: </strong>
        <%= @inspection.device.inventory_id %>
      </span>
    </p>
    <p>
      <span>
        <strong><%= t('activerecord.attributes.device.tabel_id')%>: </strong>
        <%= @inspection.device.tabel_id %>
      </span>
    </p>
    <p>
      <span>
        <strong><%= t('activerecord.attributes.device.serial_id')%>: </strong>
        <%= @inspection.device.serial_id %>
      </span>
    </p>
    <p>
      <span>
        <strong><%= t('activerecord.attributes.device.year_of_production')%>: </strong>
        <%= @inspection.device.year_of_production %>
      </span>
    </p>
    <p>
      <span>
        <strong><%= t('activerecord.attributes.device.year_of_commissioning')%>: </strong>
        <%= @inspection.device.year_of_commissioning %>
      </span>
    </p>
    <p>
      <span>
        <strong><%= t('activerecord.attributes.device.date_of_inspection')%>: </strong>
        <%= @inspection.device.last_successful_inspection %>
      </span>
    </p>
    <p>
      <span>
        <strong><%= t('activerecord.attributes.device.device_reg_group')%>: </strong>
        <%= @inspection.device.device_reg_group.name %>
      </span>
    </p>
  </div>
</div>
