<div class='row text-center shadow rounded my-4 mx-0'>
  <% selected = local_assigns[:selected] %>
  <%= link_to admin_users_path, class: "px-0 col btn #{ 'btn-primary' if selected == 'user' }" do %>
    <i class="bi bi-person"></i><span> <%= 'Пользователи' %></span>
  <% end %>
  <%= link_to admin_users_path, class: "px-0 col btn #{ 'btn-primary' if selected == 'service' }" do %>
    <i class="bi bi-people"></i><span> <%= 'Службы' %></span>
  <% end %>
  <%= link_to admin_users_path, class: "px-0 col btn #{ 'btn-primary' if selected == 'division' }" do %>
    <i class="bi bi-flag"></i><span> <%= 'Подразделения' %></span>
  <% end %>
  <%= link_to admin_users_path, class: "px-0 col btn #{ 'btn-primary' if selected == 'organization' }" do %>
    <i class="bi bi-buildings"></i><span> <%= 'Организации' %></span>
  <% end %>
</div>
