<% provide :page_title, "Рег.группы" %>
<%= render 'shared/admin/navbar/admin', selected: "device" %>
<%= render 'shared/admin/navbar/device_bread', selected: "device_reg_group" %>
<%= render 'shared/flash_alert' %>
<div class="row mx-0">
  <div class="col-2 ps-0">
    <div class="accordion mb-3" id="accordionFilter">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFilter">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter">
            <%= t('filtration')%>
          </button>
        </h2>
        <div id="collapseFilter" class="accordion-collapse collapse shadow" aria-labelledby="headingFilter" data-bs-parent="#accordionFilter">
          <%= search_form_for(@query, url:admin_device_reg_group_index_path, method: :get, class: "rounded accordion-body") do |f| %>
            <div id="for-clear">
              <%= f.label :name, class: "mb-2" %>
              <%= f.search_field :name_cont, class:"form-control", placeholder:"Название" %>
            </div>
            <%= f.submit t('b_accept'), class: 'btn btn-primary w-100 my-2'%>
            <div id="b_clear" onclick="formClear()" class="btn btn-secondary w-100">
              <%= t("b_clear")%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <%= render 'shared/modal_button_add', path: new_admin_device_reg_group_path, classes: "btn btn-primary w-100", text: t("b_add") %>
    </div>
  </div>
  <div class="col-10 shadow rounded">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"><%= t('activerecord.attributes.device_reg_group.name') %></th>
            <th scope="col" style="width: 10%"><%= t('action')%></th>
          </tr>
        </thead>
        <tbody>
          <% @device_reg_groups.each do |device_reg_group| %>
            <tr>
              <td><%= device_reg_group.name %></td>
              <td>
                <div class="d-flex w-auto">
                  <%= link_to edit_admin_device_reg_group_path(device_reg_group.id), class: "btn", data: { action: "click->modal#open", turbo_stream: "" } do %>
                    <i class="bi bi-pen"></i>
                  <% end %>
                  <%= button_to admin_device_reg_group_path(device_reg_group.id), method: :delete, class: "btn" do %>
                    <i class="bi bi-trash"></i>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
  </div>
<div class="row my-5">
  <div class="col-2">
  </div>
  <div class="col-10">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <%= pagination @pagy %>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
<script>
  function formClear(){
    let form = document.getElementById('for-clear')
    let inputs = Array.from(document.getElementById('for-clear').getElementsByTagName("input"))
    inputs.forEach((input) =>{
      input.value = null
    })
  }
</script>
