<% provide :page_title, "Панель администрирования" %>
<%= render 'shared/admin/navbar/admin', selected: "user" %>
<%= render 'shared/flash_alert' %>
<div class="row">
  <div>
    <div class="accordion my-4" id="accordionFilter">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFilter">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter">
            <%= t('filtration')%>
          </button>
        </h2>
        <div id="collapseFilter" class="accordion-collapse collapse shadow" aria-labelledby="headingFilter" data-bs-parent="#accordionFilter">
          <%= search_form_for(@query, url:admin_users_path, method: :get, data:{controller: "filter"}, class: "rounded accordion-body") do |f| %>
            <div class="row">
              <div class="col">
                <%= f.label :tabel_id, class:"mb-1" %>
                <%= f.search_field :tabel_id_eq, class: 'form-control', placeholder: '1' %>
              </div>
              <div class="col">
                <%= f.label :first_name, class:"mb-1"%>
                <%= f.search_field :first_name_cont, class: 'form-control', placeholder: 'Иван' %>
              </div>
              <div class="col">
                <%= f.label :last_name, class:"mb-1" %>
                <%= f.search_field :last_name_cont, class: 'form-control', placeholder: 'Иванов' %>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <%= f.label :second_name, class:"mb-1" %>
                <%= f.search_field :second_name_cont, class: 'form-control', placeholder: 'Иванович' %>
              </div>
              <div class="col">
                <%= f.label :role, class:"mb-1" %>
                <select class="form-select form-select" name="q[role_eq]" id="q_role_eq">
                  <option value=""><%= t('combobox_blank')%></option>
                  <% User::ROLES.each do |key,value| %>
                    <% if key == @selected_role %>
                      <option value="<%= key %>" selected>
                    <% else %>
                      <option value="<%= key %>">
                    <% end %>
                    <%= (value) %></option>
                  <% end %>
                </select>
              </div>
              <div class="col">
                <%= f.label :email, class:"mb-1" %>
                <%= f.search_field :email_cont, class: 'form-control', placeholder: 'Иванович' %>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <%= f.label :phone, class:"mb-1" %>
                <%= f.search_field :phone_cont, class: 'form-control', placeholder: '+79021234578' %>
              </div>
              <div class="col">
                <%= f.label t('.created_at_from'), class:"mb-1" %>
                <%= f.date_field :created_at_gteq, class: 'form-control ' %>
              </div>
              <div class="col">
                <%= f.label t('.created_at_to'), class:"mb-1" %>
                <%= f.date_field :created_at_lteq, class: 'form-control' %>
              </div>
              <div class="col">
                <%= f.label t('.updated_at_from'), class:"mb-1" %>
                <%= f.date_field :updated_at_gteq, class: 'form-control' %>
              </div>
              <div class="col">
                <%= f.label t('.updated_at_to'), class:"mb-1" %>
                <%= f.date_field :updated_at_lteq, class: 'form-control' %>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col"></div>
              <div class="col"></div>
              <%= f.submit "Применить", class: 'col btn btn-primary w-100'%>
              <div class="col"></div>
              <div class="col"></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= link_to new_admin_user_path, class: "btn btn-primary mb-4 w-100 shadow" do %>
      <i class="bi bi-plus-square"></i><span> <%= t('b_add')%></span>
    <% end %>
  </div>
</div>
<div class="row mx-0">
  <div class="col shadow rounded">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"><%=t('activerecord.attributes.user.tabel_id')%></th>
          <th scope="col"><%=t('activerecord.attributes.user.last_name')%></th>
          <th scope="col"><%=t('activerecord.attributes.user.first_name')%></th>
          <th scope="col"><%=t('activerecord.attributes.user.second_name')%></th>
          <th scope="col"><%=t('activerecord.attributes.user.role')%></th>
          <th scope="col"><%=t('activerecord.attributes.user.email')%></th>
          <th scope="col"><%=t('activerecord.attributes.user.phone')%></th>
          <th scope="col"><%=t('created_at')%></th>
          <th scope="col"><%=t('updated_at')%></th>
          <th scope="col" style="width: 10%"><%=t('action')%></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.tabel_id %></td>
            <td><%= user.last_name %></td>
            <td><%= user.first_name %></td>
            <td><%= user.second_name %></td>
            <td><%= user.role %></td>
            <td><%= user.email %></td>
            <td><%= user.phone %></td>
            <td><%= formatted_date(user.created_at, :short_full) %></td>
            <td><%= formatted_date(user.updated_at, :short_full) %></td>
            <td>
              <div class="d-flex w-auto">
                <%= link_to edit_admin_user_path(user), class: "btn" do %>
                  <i class="bi bi-pen"></i>
                <% end %>
                <% unless user.id == current_user.id %>
                  <%= button_to admin_user_path(user), method: :delete, class: "btn" do %>
                    <i class="bi bi-trash"></i>
                  <% end %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row my-5">
  <div class="col-2">
  </div>
  <div class="col-10">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <%= pagination @pagy %>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
